.header {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--gray-800);

  padding: 1.25rem 0;
}

.header img {
  height: 4rem;

  margin-right: 1rem;
}

.header strong {
  font-size: 1.6rem;
  color: var(--gray-100);
}
